[Unit]
Description=PiPower 5 Battery Driver
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/pipower5/venv/bin/python3 /usr/local/bin/pipower5_driver.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target